*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Barlow";
  src: url('../fonts/Barlow/Barlow-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url('../fonts/Barlow/Barlow-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url('../fonts/Barlow/Barlow-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Fraunces";
  src: url('../fonts/Fraunces/static/Fraunces_72pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fraunces";
  src: url('../fonts/Fraunces/static/Fraunces_72pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --Red-400: hsl(7, 99%, 70%);
  --Red-450: hsla(7, 99%, 70%, 0.500);
  --Yellow-500: hsl(51, 100%, 49%);
  --Yellow-550: hsl(51, 100%, 49%, 0.500);
  --Green-800: hsl(167, 40%, 24%);
  --Blue-800: hsl(198, 62%, 26%);
  --Blue-850: hsl(198, 62%, 70%);
  --Green-500: hsl(167, 34%, 41%);
  --Green-550: hsl(166, 31%, 61%);

  --Grey-950: hsl(212, 27%, 19%);
  --Grey-600: hsl(213, 9%, 39%);
  --Grey-550: hsl(232, 10%, 55%);
  --Grey-400: hsl(210, 4%, 67%);
  --White: hsl(0, 100%, 100%);

  --barlow: 'Barlow', sans-serif;
  --fraunces: 'Fraunces', sans-serif;

  --text-ft: 900 4rem/140% var(--fraunces);
  --text-title: 900 3rem/120% var(--fraunces);
  --text-subtitle: 900 3rem/120% var(--fraunces);
  --text-service: 600 1.6rem/120% var(--fraunces);
  --testimonial-title: 900 1.6rem/120% var(--fraunces);
  --text-testimonial: 900 1.8rem/120% var(--fraunces);

  --fraunces-menu: 900 1.3rem/120% var(--fraunces);
  
  --barlow-span: 600 1.3rem/120% var(--barlow);
  --barlow-parag: 600 1.6rem/200% var(--barlow);
  --barlow-service: 600 1.6rem/200% var(--barlow);

  --footer-title: 900 2.6rem/120% var(--barlow);
  --footer-parag: 600 1.8rem/120% var(--barlow);
}