body {
  min-height: 100vh;
  background-color: grey;
  border: 1px solid red;
}

#content {
  display: grid;
  gap: 2.4rem;
  width: 100%;
  max-width: none;
  /* max-width: 375px; */
  margin: 0 auto;
  /* padding: 2.4rem; */
}

.header {
  display: grid;
  height: 600px;
  gap: 4rem;
  /* padding: 2rem; */
  background: url('../images/mobile/image-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  bottom;
  border: 1px solid green;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 375px;
  padding: 2rem;
  border: 1px solid red;
}

.header__nav {
  display: none;
}

/* .nav__list {
  display: grid;
  grid-template-columns: repeat(4, auto);
} */

.header__hero {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.4rem;
  font: var(--text-ft);
  color: var(--White);
  border: 1px solid red;
}