body {
  min-height: 100vh;
  /* background-color: grey; */
}

#content {
  display: grid;
  width: 100%;
  /* max-width: none; */
  max-width: 375px;
  margin: 0 auto;
}

.header {
  display: grid;
  height: 500px;
  width: 375px;
  align-content: flex-start;
  background: url('../images/mobile/image-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 375px;
  padding: 4rem 2rem;
}

.menu-toggle {
  border: none;
  background: none;
  cursor: pointer;
}

.header__nav {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translateX(-50%, -10px);
  width: 90%;
  padding: 4rem;
  background-color: var(--White);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.header__nav::before {
  content: "";
  position: absolute;
  top: -15px;
  right: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid var(--White);
  border-top: 15px solid transparent;
  border-bottom: 15px solid var(--White);
}

.header__nav.active {
  transform: translate(-50%, 0);
  visibility: visible;
  opacity: 1;
}

.nav__list {
  display: grid;
  justify-content: center;
  gap: 1.2rem;
  font: var(--barlow-parag);
  text-align: center;
}

.header__nav .nav__item a {
  padding: 1.2rem 2rem;
}

.header__nav .nav__item a:hover {
  font: var(--fraunces-menu);
  text-transform: uppercase;
  color: var(--Grey-950);
  background-color: var(--Yellow-500);
  border-radius: 20px;
}

.header__nav .nav__list a {
  color: var(--Grey-550);
}

.header__hero {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
}

.hero-title {
  display: flex;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  font: var(--text-ft);
  color: var(--White);
}

.arrow {
  width: 40px;
  align-self: center;
}

.features {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: auto;
  grid-template-areas:
  "transformImage"
  "transformText"
  "standImage"
  "standText"
  "serviceGraphic"
  "servicePhotography";
}

.feature--image {
  width: 375px;
  height: 330px;
}

.transform--image {
  grid-area: transformImage;
  background: url('../images/mobile/image-transform.jpg');
  background-size: cover;
  background-position: center;
}

.transform--text {
  grid-area: transformText;
}

.stand--image {
  grid-area: standImage;
  background: url('../images/mobile/image-stand-out.jpg');
  background-size: cover;
  background-position: center;
}

.feature--text {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 3rem;
  padding: 40px;
  text-align: center;
  background-color: var(--White);
}

.feature--text h2 {
  font: var(--text-title);
  color: var(--Grey-950);
}

.feature--text p {
  font: var(--barlow-parag);
  color: var(--Grey-550);
}

.learn-more {
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  font: var(--text-service);
  color: var(--Grey-950);
  position: relative;
  opacity: 0.8;
  z-index: 1;
}

.learn-more::after {
  content: "";
  position: absolute;
  left: -4px;
  bottom: -4px;

  width: 110%;
  height: 8px;
  border-radius: 4px;
  opacity: 1;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.transform--text .learn-more::after {
  background-color: var(--Yellow-550);
}

.transform--text .learn-more:hover::after {
  background-color: var(--Yellow-500);
}

.stand--text .learn-more::after {
  background-color: var(--Red-450);
}

.stand--text .learn-more:hover::after {
  background-color: var(--Red-400);
}

.service--graphic,
.service--photography {
  height: 550px;
}

.service--text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 3rem;
  padding: 4rem 1.8rem;
  text-align: center;
}

.service--text h3 {
  font: var(--text-subtitle);
}

.service--text p {
  font: var(--barlow-service);
}

.service--graphic {
  grid-area: serviceGraphic;
  background: url('../images/mobile/image-graphic-design.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--Green-800);
}

.service--photography {
  grid-area: servicePhotography;
  background: url('../images/mobile/image-photography.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--Blue-800);
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(1, auto);
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5rem 3.8rem;
  text-align: center;
  background: var(--White);
}

.testimonial-title {
  padding-block: 2rem;
  font: var(--testimonial-title);
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--Grey-400);
}

.testimonials-list {
  display: grid;
  gap: 5rem;
}

.testimonials-list img {
  width: 60px;
  border-radius: 50%;
}

.testimonial {
  display: grid;
  justify-items: center;
  gap: 1.5rem;
}

.testimonial p {
  font: var(--barlow-parag);
  color: var(--Grey-600);
  line-height: 2.3rem;
}

.testimonial h3 {
  padding-top: 1rem;
  font: var(--text-testimonial);
}

.testimonial span {
  font: var(--barlow-span);
  color: var(--Grey-400);
}

.gallery {
  width: 375px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery__item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
  gap: 4rem;
  padding: 5rem 2rem;
  text-align: center;
  color: var(--Green-800);
  background-color: var(--Green-550);
}

.footer-title {
  font: var(--footer-title);
}

.footer__nav .nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 3rem;
  font: var(--footer-parag);
}

.footer__nav .nav__item a {
  color: var(--Green-500);
}

.footer__nav .nav__item a:hover {
  color: var(--White);
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  padding-block: 2rem;
  justify-content: center;
}

.social-media img {
  transition: filter 0.3s ease;
}

.social-media img:hover {
  filter: brightness(0) invert(1);
}

@media screen and (min-width: 1024px) {
  body {
    /* width: 1024px; */
    border: 1px solid red;
  }

  #content {
    display: grid;
    width: 100%;
    max-width: none;
    max-width: 1024px;
    margin: 0 auto;
  }

  .header {
    height: 100vh;
    width: 1024px;
    background: url('../images/desktop/image-header.jpg');
    background-size: cover;
  }

  .header__top {
    max-width: 1024px;
  }

  .menu-toggle {
    display: none;
  }

  .features {
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
    "transformText transformImage"
    "standImage standText"
    "serviceGraphic servicePhotography";
  }

  .feature {
    height: 480px;
  }

  .feature--image {
    width: 512px;
  }

  .stand--text,
  .feature--text {
    justify-content: center;
    text-align: left;
    padding-left: 7.5rem;
  }

  .stand--text h2,
  .feature--text h2 {
    font-size: 4rem;
  }

  .learn-more {
    margin-left: 0;
  }

  .transform--image {
    background: url('../images/desktop/image-transform.jpg');
    background-size: cover;
    background-position: center;
  }

  .stand--image {
    background: url('../images/desktop/image-stand-out.jpg');
    background-size: cover;
    background-position: center;
  }

  .service--graphic {
    background: url('../images/desktop/image-graphic-design.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }

  .service--photography {
    background: url('../images/desktop/image-photography.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }

  .testimonials {
    padding: 8rem 3.8rem;
  }

  .testimonials-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  .testimonial h3 {
    padding-top: 3rem;
  }

  .gallery {
    width: 1024px;
    grid-template-columns: repeat(4, 1fr);
  }

  .footer__nav .nav__list {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-bottom: 2rem;
  }
}